
#app_header {
    height: 66px;
    display: flex;
    justify-content: space-between;
    background-color: white;
}


#main_dashboard{
    width:100%;
    height: calc(100vh - 66px);
    overflow-y: auto;
}

.debug [class^=col] {
    border: 1px solid white;
}
