
#app_header {
    height: 66px;
    display: flex;
    justify-content: space-between;
    background-color: cornflowerblue;
}


#app_main{
    width:100%;
    height: calc(100vh - 66px);
    overflow-y: auto;
}

.enter_space
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.enter_space::before,
.enter_space::after
{
    content: '';
    display: block;
    width: 8rem;
    height: 3px;
    background-color: yellowgreen;
}


.debug [class^=col] {
    border: 1px solid white;
}
